/* CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  
  display: block;
  grid-template-areas:
  'navegacion '
  'menu'
  'header'
  'contenedor-nav'
  'productos'
  'footer ';
  grid-template-columns: 25% auto;
  gap: 2%;
}
.lista {
  animation-name: colorear;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 2%;
  
}


li {
   text-align: center;
   display: flex;
   margin-top: 2%;
   margin-left: 2%;
}
a{
  text-decoration: none;
  color: white;
  border-radius: 20%;
}
.contenedor-text{
  text-align: center;
  margin-left: 28.6%;
  margin-top: -2%;
  font-size: 1.6em;
  color: white;
  display: flex;
}

.contenedor-nav{
  animation-name: colorear;

}

a:hover{
  background-color: rgba(255, 255, 255, 0.377);
}
.box {
  width: 100%;
  display: flex;
  /* background-color: #a38ebe; */
  animation-name: colorear;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: -7%;
  padding-bottom: 5%;
 }

 header{
  margin-bottom: -2%;
 }
 .logo{
  height: 8em;
  border-radius: 20%;
  padding: .5rem;
 }
 @keyframes colorear {
  from {
  background-color: #010304;
  }
  to {
  background-color: #242020;
  }
 }
 .header {
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & .img-logo-dos{
    width:70%;
  }
 }

 
 .text {
  position: initial;
  font-size: 1em;
  animation: move 6s ease
 infinite;
 }
 
 @keyframes move {
  0% {
  transform: translateX(0);
  transform: rotate(-20deg);
  }
  25% {
  transform: translateX(100px);
  }
  50% {
  transform: translateX(0);
  transform: rotate(20deg);
 ;
  } 75% {
  transform:
 translateX(50px);
  }
  100% {
  transform: rotate(-20deg);
  }
 }
 .menu{
  grid-area: menu;
  animation-name: colorear;
  color: #2a2333;
  width: 100%;

 }
.productos{
  width: 100%;
  text-align: center;
  gap: 20px;
  .card{
    border: 1px solid #242020;
    border-radius: 4px;
    margin: 1rem;
    padding-bottom: 1rem;

  }
  .img-card{
    width: 50%;
    border-radius: 50%;
    padding: 1rem;
  }
}

.footer{
  background-color: #242020;
  padding-top: 4%;
  display: flex;
  justify-content: center;
  padding-bottom: 0.9%;
}

.face{
  justify-content: center;
  color: white;
  text-align: center;
  display: flex;
  margin-top: -3%;
  font-size: 0.6cm;
}

.twt{
  justify-content: center;
  color: white;
  text-align: center;
  display: flex;
  margin-top: -2.6%;
  font-size: 0.6cm;
  margin-left: 2%;
}

